@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200&family=Poppins&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Work Sans, sans-serif;
    font-weight: 400;
    color: black;
  
}

/* container div */

#pageContainer{
   
    
}

/* heading and logo */


h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525; 
}

.logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

.menu{
    font-size:110%;
    letter-spacing: 4px;
}

.menu, #logo{
    line-height: 75px;
}

.menu li{
    float: right;
    list-style: none;
    margin-right: 30px;
}

.menu a{
    text-decoration: none;
    color: inherit;

}

.menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

.nav-toggle{
    display:none;
}

/* hero image */

#hero-image{
    background-color: green;
}

/* Why Should You Care Section */
#WYSB-container{
    background-color: red;
    height: 100vh    
 
}

/* Centralised vs. Decentralised */
#CvD-container{
    background: green;

}

/* Proof of Stake vs Proof of Work */
#PoS-PoW-container{
    background: blue;
}

/* Footer */
footer{
    background: orange;
    padding:1em;
    position:fixed;
    bottom:0; width: 100%;
}

@media screen and (max-width: 800px){
    header{
        background:white;
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 999;
        padding-top: .5em;
        padding-bottom: .5em;
    }
    
    /* burger menu animation*/
    
    .nav-toggle{
        display:none;
    }
    
    .toggle-label{
        position:absolute;
        top:0;
        left:0;
        margin-left:1em;
        height:100%;
        display: flex;
        align-items: center;
    }
    
    .toggle-label span,
    .toggle-label span::before,
    .toggle-label span::after{
        display:block;
        background: purple;
        height:2px;
        width:2em;
        border-radius: 5px;
        position: relative;
    }
    
    .toggle-label span::before,
    .toggle-label span::after{
        content:''; /* ensure the lines pop up */
        position: absolute;
    }
    
    .toggle-label span::before{
        bottom: 7px;
    }
    
    .toggle-label span::after{
        top:7px;
    }
    
    /* heading and logo */
    
    nav{
        position:absolute;
        text-align: left;
        top:100%;
        left:0;
        background: white;
        width:100%;
    
        /*making the transition */
    
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }
    
    .menu{
        list-style: none;
    }
    
    .menu li{
        margin-bottom: 0.5em;
        margin-left: 1em;
    }
    
    .NavA{
        color:rgb(141, 42, 187);
        text-decoration: none;
        font-size:1.2em;
        opacity:0;
    
        transition: opacity 150ms ease-in-out ;
    }
    
    .menu a:hover{
        color:purple;
    
    }
    
    .nav-toggle:checked ~ nav{
        transform: scale(1,1);
     
    }
    
    .nav-toggle:checked ~ nav a{
        opacity:1;    
        transition: opacity 250ms ease-in-out 250ms;
        
    }

}