
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Work Sans, sans-serif;
    font-weight: 400;
    color: black;
  
}

p{
    font-family: Space Mono, sans-serif;
}

/* container div */

#pageContainer{
   
    
}

/* heading and logo */
header{
   top:0;
}

h1, h2{
    font-family: Space Mono, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525; 
}

.logo{
    float:left;
    font-family:Shrikhand, sans-serif;
    color: #542D9E;
    font-size: 280%;
    padding-top: 18px;
    padding-left: 30px;

}

.menu{
    font-size:110%;
    letter-spacing: 4px;
}

.menu, #logo{
    line-height: 75px;
}

.menu li{
    float: right;
    list-style: none;
    padding-top: 16px;
    margin-right: 10px;
    padding-right: 10px;
    
}


.menu a{
    text-decoration: none;
    color: inherit;
    border: 2px solid white;
    padding: 12px;
}

.menu a:hover{
    border: 2px solid #542D9E;
    
}

.active{
    border: 2px solid #542D9E;
    padding: 12px;
    
}

.nav-toggle{
    display:none;
}

/* hero image */
#hero-outer{
    height: 600px;
    width:100%;
    position: relative;
    overflow: hidden;
    background-color: red;

}


/* Why Should You Care Section */
#intro-container{
    display: flex;
    flex-wrap: wrap;
   
        
}

#Intro2Crypto-div{
    width:100%;
    margin: 1em;
}

#Intro2Crypto-div h2{
    color: #542D9E;
    text-align: center;
}

.WhatIsCrypto-div{
    margin: 1em;
    padding: 1em;
    border: 2px solid #542D9E;
}

#first-2-boxes-container{    
    display:flex;
}

#first-2-boxes-container > *{
    flex-basis:100%;
    border: 2px solid #542D9E;
    margin: 1em;
    padding: 1em;
    overflow: auto;
}

/*
.WIC-left-box{

    width: 300px;
    height: 300px;


    margin: 1em;
    padding: 1em;
    border: 2px solid #542D9E;

    width:50%;

    
}

*/


.info{
    text-align: justify;
}

/* Centralised vs. Decentralised */
#CvD-container{
  

    background-color: #D3D3D3;
    /*
    flex-wrap: wrap;
    justify-content: space-evenly;
    */
    
}

#CvD-title{
    width: 100%;
    margin:1em;
}

#CvD-title h2{
    color:#542D9E;
    text-align: center;
}

.CvD-box{

    border: solid 2px green;
   
    padding: 1em;
}


/*
#CvD-container div{
    
    
    width: 500px;
    height: 500px;

    margin-top:30px;
    margin-bottom: 15px;
    padding:15px;
}

*/



/* Proof of Stake vs Proof of Work */
#PoS-PoW-container{
    background: blue;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-evenly;
}

#PoS-PoW-container h2{
    color: white;
    text-align: center;
}

#PoS-PoW-container div{
    border: 3px solid #542D9E;
    
    width: 500px;
    height: 500px;

    margin-top:30px;
    margin-bottom: 15px;
    padding:15px;

}

/* Footer */
footer{
    background: orange;
    padding:1em;

    bottom:0; width: 100%;
}


@media screen and (max-width: 1440px){
    .logo{
        float:left;
        font-family:Shrikhand, sans-serif;
        color: #542D9E;
        font-size: 180%;
        padding-top: 25px;
        margin-left: 50px;
    
    }

    .menu{
        font-size:80%;
        letter-spacing: 2px;
    }

    .menu li{
        float: right;
        list-style: none;
        padding-top: 10px;
        margin-right: 6px;
        padding-right: 6px;
        
    }
    
    .menu a{
        padding: 6px;
        border: 2px solid white;
    }

}

@media screen and (max-width: 1024px){
    .logo{
        font-family:Shrikhand, sans-serif;
        color: #542D9E;
        font-size: 180%;
        padding-top: 25px;
        padding-left: 360px;
    
    }

    .menu{
        float: left;
        margin-left: 80px;
   

    }

    .menu li{
        font-size: 1em;
     
    }

}

@media screen and (max-width: 858px){
    .logo{
        font-family:Shrikhand, sans-serif;
        color: #542D9E;
        font-size: 150%;
        padding-top: 25px;
        padding-left: 300px;
    
    }

    .menu{
        float: left;
        margin-left: 25px;
   
    }

    .menu li{
        font-size: 1.1em;
     
    }
    
}

@media screen and (max-width: 768px){
    .logo{
        font-family:Shrikhand, sans-serif;
        color: #542D9E;
        font-size: 150%;
        padding-top: 25px;
        padding-left: 260px;
    
    }

    .menu{
        float: left;
       
   
    }

    .menu li{
        font-size: 1em;
     
    }
    
}
}


